/* First Set of Boxes*/

.box-container {
    display: flex;
}

.box {
    flex: 1;
    height: 100px;
    width: 200px;
    margin: 50px;
    background-color: aquamarine;
}

/* Circles*/

.small-circle {
    position: absolute;
}

.circle-one {
    width: 25px;
    height: 25px;
    background-color: palevioletred;
    border-radius: 50%;
    top: 75px;
    left: 75px;
    position: absolute;
}

.circle-two {
    width: 25px;
    height: 25px;
    background-color: palevioletred;
    border-radius: 50%;
    top: 100px;
    right: 1100px;
    position: absolute;
}

.circle-three {
    width: 25px;
    height: 25px;
    background-color: palevioletred;
    border-radius: 50%;
    top: 150px;
    left: 75px;
    position: absolute;
}

.large-circle {
    position: relative;
}

.large-circle-pink {
    width: 75px;
    height: 75px;
    background-color: palevioletred;
    border-radius: 50%;
    top: 125px;
    left: 450px;
    position: absolute;
}

.large-circle-yellow {
    width: 75px;
    height: 75px;
    background-color: yellow;
    border-radius: 50%;
    top: 75px;
    left: 350px;
    position: absolute;
}

/* Boxes*/

.box-container-bottom {
    display: flex;
}
.large-box-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: lightgreen;
    z-index: 0;
}

.large-box-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1885px;
    height: 600px;
    background-color: aquamarine;
}

.ppl-img {
    position: absolute;
    left: 10px;
    max-width: 800px;
    height: 200px;
    bottom: 0;
    z-index: 0;
}

/* Triangles*/

.triangle-one {
    position: absolute;
    bottom: 200px;
    right: 100px;
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 250px solid #006400;
 }

.triangle-two {
    position: absolute;
    bottom: 200px;
    right: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 150px solid #00FF00;
 }


/*Contact Box*/

.contact-form {
    width: 10px;
    border: 1x solid black;
    border-radius: 10px;
    border-color: black;
    top: 0;
    right: 200px;
    position: absolute;
}
    
 @media (max-width: 600px) {
    body {
        margin: 0 auto;
        padding: 0;
    }
    .box {
        width: auto;
        margin: auto;
    }
 }
